{{ define "match" -}}
    {{- $ := trim $ }}
    {{- if sprigContains "*" $ -}}
        {{- $ := $ | sprigReplace "." "\\." | sprigReplace "*" ".*" -}}
        -i -m reg {{ $ }}
    {{- else -}}
        -i -m str {{ $ }}
    {{- end -}}
{{- end }}

{{ define "find_port" }}

    {{ $listening_port := (first $.container.Addresses).Port }}
    {{ $specified_port := index $.container.Labels "dispatcher.port" }}
    {{ $default_port := $.default }}
    {{ $port := or $specified_port $listening_port $default_port }}
    {{ $_ := set $ "port" $port }}

{{ end }}

global
    log stdout format raw daemon {{.Env.LOG_LEVEL}}


defaults root
    log global
    timeout connect 10s
    timeout client 10s
    timeout server 10s
    retries 10
    default-server resolvers docker init-addr none

resolvers docker
    nameserver docker0 127.0.0.11:53
    resolve_retries 30
    timeout retry 1s
    hold valid 30s


defaults tcp from root
    mode tcp
    option tcplog


defaults http from root
    mode http
    option httplog


frontend main from tcp
    bind :443
    tcp-request inspect-delay 10s
    tcp-request content capture req.ssl_sni len 16

    {{ range $container := whereLabelValueMatches $ "dispatcher.type" "^http$" }}
    {{ range $host := split (index $container.Labels "dispatcher.hosts") "," }}
    use_backend ssl_decoder if { req.ssl_sni {{ template "match" $host }} }
    {{ end }}
    {{ end }}

    {{ range $container := whereLabelValueMatches $ "dispatcher.type" "^https$" }}
    {{ range $host := split (index $container.Labels "dispatcher.hosts") "," }}
    use_backend forward_{{$container.Name}} if { req.ssl_sni {{ template "match" $host }} }
    {{ end }}
    {{ end }}

    {{ range $container := whereLabelValueMatches $ "dispatcher.type" "^tcp$" }}
    use_backend forward_{{$container.Name}} if !{ req.ssl_sni -m found }
    {{ end }}

    {{ range $container := whereLabelValueMatches $ "dispatcher.default" "^(?i)true$" }}
    use_backend forward_{{$container.Name}}
    {{ end }}


backend ssl_decoder from tcp
    server ssl_decoder 127.0.0.1:4433 send-proxy


frontend ssl_decoder_frontend from http
    bind :4433 ssl crt /certs/ accept-proxy

    {{ $http_containers := whereLabelValueMatches $ "dispatcher.type" "^http$" }}

    {{ range $container := whereLabelExists $http_containers "dispatcher.path" }}
    {{ $name := $container.Name }}
    {{ $path := index $container.Labels "dispatcher.path" }}
    {{ range $host := split (index $container.Labels "dispatcher.hosts") "," }}
    use_backend http_{{ $name }} if { ssl_fc_sni {{ template "match" $host }} } { path_beg {{ $path }} }
    {{ end }}
    {{ end }}

    {{ range $container := whereLabelDoesNotExist $http_containers "dispatcher.path" }}
    {{ $name := $container.Name }}
    {{ range $host := split (index $container.Labels "dispatcher.hosts") "," }}
    use_backend http_{{ $name }} if { ssl_fc_sni {{ template "match" $host }} }
    {{ end }}
    {{ end }}


{{ range $container := whereLabelValueMatches $ "dispatcher.type" "^http$" }}
{{ $name := $container.Name }}
{{ $args := dict "container" $container "default" 80 }}
{{ template "find_port" $args }}
{{ $port := $args.port }}
backend http_{{ $name }} from http
    server http_{{ $name}} {{ $name }}:{{ $port }}
{{end}}

{{ range $container := whereLabelValueMatches $ "dispatcher.type" "^https$" }}
{{ $name := $container.Name }}
{{ $args := dict "container" $container "default" 443 }}
{{ template "find_port" $args }}
{{ $port := $args.port }}
backend forward_{{ $name }} from tcp
    server forward_{{ $name }} {{ $name }}:{{ $port }}
{{end}}

{{ range $container := whereLabelValueMatches $ "dispatcher.type" "^tcp$" }}
{{ $name := $container.Name }}
{{ $args := dict "container" $container "default" 80 }}
{{ template "find_port" $args }}
{{ $port := $args.port }}
backend forward_{{ $name }} from tcp
    server forward_{{ $name }} {{ $name }}:{{ $port }}
{{end}}


